.languages-component {
    height: 325px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 546px;
}

img {
    -webkit-user-drag: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}